body {
    background-color:aquamarine;
}
.container {
    margin-top: 60px;
    text-align: center;
}
#timerLabel {
    margin: 50px 0px 50px 0px;
    color: white;
}
#lap{
    text-align: center;
    margin-top: 50px;
    text-decoration: blue;
}
.myBtn {
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    margin-left: 20px;

}
.myBtn:hover {
    background-color:wheat ;
  }

.start{
    background-color: green;
}
.stop{
    background-color: red;
}
.lap{
    background-color: yellow;
    
}
.reset{
    background-color: blue;
}
.hist{
    background-color: coral;
}
.title, .myButton {
    font-family: 'Berkshire Swash', cursive;
    color: midnightblue;
}